﻿body
{
    border: 5px dotted purple;
    background-color: honeydew;
}

header {
    border-bottom: 5px dotted purple;
}

h1 {
    color: darkgrey;
}

h2
{
    color: lightsteelblue;
}

.box {
    border: 2px dotted cadetblue;
    width: 11em;
}

.input {
    width: 10em;
    border: 1px dashed cadetblue;
}

.drop {
    border: 2px dotted cadetblue;
}

.errorMessage { color: orange;}

footer {
    border-top: 5px dotted purple;
}

